{% extends 'base.html' %}
{% block content %}
<h1>{{ review.sneaker }}</h1>
{% if rating.rating_avg < 0.5 %}
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% elif rating.rating_avg < 1.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% elif rating.rating_avg < 2.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% elif rating.rating_avg < 3.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% elif rating.rating_avg < 4.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% else %}
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating_avg }})
{% endif %} 
<p>{{ review.description }}</p>
<p>Asked {% if review.visibility == 0 %} by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username }}</a> {% endif %} on {{ review.created_at }}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' pk=review.id %}">Edit review</a></p>
<p><a href="{% url 'review_delete' pk=review.id %}">Delete review</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comments{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for answer in answers %}
<div class="panel">
    <p>{{ comments.text }}</p>
    {% if comments.user == user %}
    <p><a href="{% url 'comments_update' review_pk=review.id comments_pk=comments.id %}">Edit comments</a></p>
    <p><a href="{% url 'comments_delete' review_pk=review.id comments_pk=comments.id %}">Delete comments</a></p>
    {% endif %}
    <p>Commented {% if comments.visibility == 0 %} by <a href="{% url 'user_detail' slug=comments.user.username %}">{{ comments.user.username }}</a> {% endif %} on {{ comments.created_at }}
    ({{ comments.vote_set.all.count }} Vote{{ comments.vote_set.all.count|pluralize }})</p>
    <form method="post" action="{% url 'vote' %}">
        {% csrf_token %}
        <input type="hidden" name="comments" value="{{ comments.id }}" />
        <input type="hidden" name="review" value="{{ review.id }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <button>+</button>
    </form>
</div>
{% endfor %}
{% if not user_comments %}
<p><a href="{% url 'comments_create' pk=review.id %}">Write comments</a></p>
{% endif %}
{% endblock %}